

  
.card {
    position:relative;
    overflow:hidden;
    margin:0 auto;
    text-align:center;
}
.card .layer {
    z-index:1;
    position:absolute;
    top:calc(100% - 5px);
    height:100%;
    width:100%;
    left:0;
    background:linear-gradient(to left , #480ca8, #4941e2);
    transition:0.5s;
    border-radius: 15px; 
    
}

  
.card h2 {
    z-index:2; 
    position:relative;
  }
.card .content {
    z-index:2; 
    position:relative;
}
.icon {
    color: #ffffff;
} 

.card:hover  .layer{
    top:0;
}

.card .content  h2 {
    color:#4361ee;
    transition:0.5s;
}
.card:hover .content  h2 {
    color:white;
    position:relative
}
.card:hover .content {
    color:white;
    position:relative;
    transition:0.5s;
}
