

  
.card {
    position:relative;
    overflow:hidden;
    margin:0 auto;
    text-align:center;
}

.card .layer {
    z-index:1;
    position:absolute;
    /* top:calc(100% - 5px); */
    top:0;
    height:100%;
    width:100%;
    left:0;
    transition:0.5s;
    border-radius: 10px; 


background: rgba( 255, 255, 255, 0.15 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

  
.card h2 {
    z-index:2; 
    position:relative;
   
  }
.card .content {
    z-index:2; 
    position:relative;
}
.icon {
    color: #ffffff;
} 

.card:hover  {
    transform: scale(1.05);
    transition: .3s ease-in-out;
    z-index: 1;
}


.card .content  h2 {
    color: white;
    transition:0.5s;
}

.card:hover .content {
    color:white;
    position:relative;
    transition:0.5s;
}
