.text-gradient{
    color: #d4d4d4;
    background-image: -webkit-linear-gradient(0deg, #d4d4d4 0%, #474747 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}