.logo{
    color: #ffffff;
    background-image: -webkit-linear-gradient(0deg, #e3e6e5 8%, #353635 99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}