@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #00bdde;
  background-image: linear-gradient(90deg, #00b2de 0%, #FC00FF 100%);
  

}

/* Scroollbar */
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-track {
  background: rgba(5, 1, 29, 0.836);
}
body::-webkit-scrollbar-thumb {
  /* background:linear-gradient(to left , #f002e4, #0468ec); */
  background-color: rgba(4, 21, 255, 0.795);
  border-radius:15px;
  border: 1px solid rgba(0, 0, 0, 0.048);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
